<!-- Footer Section Begin -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-6">
				<div class="footer__widget">
					<h5>Company</h5>
					<ul>
						<li><a href="#">About Us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-6">
				<div class="footer__widget">
					<h5>Quick links</h5>
					<ul>
						<li><a href="#">Contact Us </a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="footer__address">
					<h5>Contact Us</h5>
					<ul>
						<li><i class="fa fa-phone"></i> +2348053165091</li>
						<li>
							<i class="fa fa-envelope"></i> Thrivephysiotherapy@gmail.com
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="footer__copyright__text">
						<p>
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							Thrive Physiotherapy. All rights reserved.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="footer__social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-whatsapp"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer Section End -->
