<!-- Footer Section Begin -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-6">
				<div class="footer__widget">
					<h5>Company</h5>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Our Mission</a></li>
						<li><a href="#">Careers</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-6">
				<div class="footer__widget">
					<h5>Quick Links</h5>
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="footer__address">
					<h5>Contact Us</h5>
					<ul>
						<li>
							<i class="fa fa-phone"></i>
							<a style="color: white;" href="tel:+2348053165091">+(234) 805 316 5091</a>
						</li>
						<li>
							<i class="fa fa-envelope"></i>
							<a style="color: white;" href="mailto:Thrivephysiotherapy@gmail.com"
								>Thrivephysiotherapy@gmail.com</a
							>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="footer__copyright__text">
						<p>
							&copy; <span id="currentYear"></span> Thrive Physiotherapy. All
							rights reserved.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="footer__social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-whatsapp"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer Section End -->

<script>
	document.getElementById("currentYear").innerText = new Date().getFullYear();
</script>
