<!-- Header Section Begin -->

<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<ul class="header__top__left">
						<li><i class="fa fa-phone"></i> +(234) 812 666 0484</li>
						<!-- <li><i class="fa fa-map-marker"></i> 34, Isaac John , Ikeja GRA</li> -->
						<li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 06:00pm</li>
					</ul>
				</div>
				<div class="col-lg-4">
					<div class="header__top__right">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-whatsapp"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="px-5" style="background-color: #273a55">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-2">
				<div class="header__logo">
					<a href="/">
						<img
							src="/assets/img/site_logo.png"
							alt="Logo"
							class="img-fluid d-flex"
							style="transform: scale(1.3); transform-origin: center"
						/>
					</a>
				</div>
			</div>
			<div class="col-lg-10">
				<div class="header__menu__option">
					<nav class="header__menu">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/services/">Services</a></li>
							<li><a href="/contact/">Contact</a></li>
						</ul>
					</nav>
					<div class="header__btn text-white">
						<a
							href="#"
							class="primary-btn"
							data-toggle="modal"
							data-target="#appointmentModal"
							>Appointment</a
						>
					</div>
				</div>
			</div>
		</div>
		<div class="canvas__open">
			<i class="fa fa-bars text-white"></i>
		</div>
	</div>
</header>
<!-- Header Section End -->

<!-- Appointment Modal -->
<div
	class="modal fade"
	id="appointmentModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="appointmentModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="consultation__form" style="margin-top: 0">
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="section-title">
					<span>REQUEST FOR YOUR</span>
					<h2>Consultation</h2>
				</div>
				<form action="#">
					<input class="form-control" type="text" placeholder="Name" required />
					<input
						class="form-control"
						type="email"
						placeholder="Email"
						required
					/>
					<input
						class="form-control"
						type="text"
						placeholder="Phone"
						required
					/>
					<div class="datepicker__item">
						<input
							type="text"
							placeholder="Preferred Date"
							class="datepicker"
							required
						/>
						<i class="fa fa-calendar"></i>
					</div>
					<textarea
						class="form-control mb-3"
						placeholder="Reason for appointment"
						rows="5"
						required
					></textarea>
					<button type="submit" class="site-btn">Book Appointment</button>
				</form>
			</div>
		</div>
	</div>
</div>
