<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
	<div class="offcanvas__logo" style="padding: 20px">
		<a href="./index.html"
			><img src="assets/img/logo.png" alt="" class="img-fluid"
		/></a>
	</div>
	<div id="mobile-menu-wrap">
		<ul class="offcanvas__widget">
			<li class="active"><a href="./index.html">Home</a></li>
			<li><a href="./about.html">About</a></li>
			<li><a href="./services.html">Services</a></li>
			<li><a href="./contact.html">Contact</a></li>
		</ul>
	</div>
	<div class="offcanvas__btn">
		<a href="#" class="primary-btn">Appointment</a>
	</div>

	<div class="offcanvas__social">
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-instagram"></i></a>
		<a href="#"><i class="fa fa-dribbble"></i></a>
	</div>
</div>
<!-- Offcanvas Menu End -->
