<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
	<div class="offcanvas__logo" style="padding: 20px">
		<a href="./index.html">
			<img
				src="./assets/img/offcanvas_logo.png"
				alt="Logo"
				class="img-fluid d-flex"
				style="transform: scale(1.3); transform-origin: center"
			/>
		</a>
	</div>
	<div id="mobile-menu-wrap">
		<ul class="offcanvas__widget">
			<li><a href="./index.html">Home</a></li>
			<li><a href="./about.html">About</a></li>
			<li><a href="./services.html">Services</a></li>
			<li><a href="./contact.html">Contact</a></li>
		</ul>
	</div>
	<div class="offcanvas__btn">
		<a
			href="#"
			class="primary-btn"
			data-toggle="modal"
			data-target="#appointmentModal"
			>Appointment</a
		>
	</div>
	<div class="offcanvas__social">
		<a href="https://www.facebook.com" target="_blank"
			><i class="fa fa-facebook"></i
		></a>
		<a href="https://www.twitter.com" target="_blank"
			><i class="fa fa-twitter"></i
		></a>
		<a href="https://www.instagram.com" target="_blank"
			><i class="fa fa-instagram"></i
		></a>
		<a href="https://dribbble.com" target="_blank"
			><i class="fa fa-dribbble"></i
		></a>
	</div>
</div>
<!-- Offcanvas Menu End -->

<!-- JavaScript to handle modal functionality -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		// Initialize datepicker
		$(".datepicker").datepicker({
			format: "yyyy-mm-dd",
		});

		// Open modal on button click
		$(".offcanvas__btn .primary-btn").on("click", function () {
			$("#appointmentModal").modal("show");
		});
	});
</script>
